.collection {
  text-align: center;

  &__slider {
    margin-bottom: 67px;
    display: block;
    margin-inline: auto;
    max-inline-size: 1200px;

    @media (max-width: 1290px) {
      max-inline-size: 888px;
    }

    @include tablet {
      max-inline-size: 576px;
      margin-bottom: 40px;
    }

    @include mobile {
      max-inline-size: 264px;
    }

    &-main {
      position: relative;
    }

    &-list {
      display: flex;
      flex-direction: row;
      margin-bottom: 50px;
      column-gap: 48px;

      position: relative;

      @include tablet {
        margin-bottom: 44px;
      }

      &-overflow-x-wrapper {
        overflow-x: hidden;
      }
    }

    &-item {
      flex-shrink: 0;
      max-width: 264px;
    }

    &-button {
      width: 40px;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: #fff;
      color: #b7b4bb;
      vertical-align: baseline;
      position: absolute;
      top: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 50;

      border: 3px solid rgba(131, 131, 131);

      &-icon {
        width: 10px !important;
      }

      & .svg-wrapper {
        width: 10px;
      }

      &--inactive {
        opacity: 50%;
      }

      &--left {
        left: -20px;
      }

      &--right {
        right: -20px;
      }
    }
  }
}
