.collection {
    text-align: center;    

    &__slider{
        margin-bottom: 67px;
        position: relative;
        margin-inline: 20px;
        

        @include tablet {
            margin-bottom: 40px;
        }

        &-main {
            position: relative;
            
            @include tablet {
                display: inline-block;
            }
        }

        &-list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 50px;
            column-gap: 20px;

           @include tablet {
            justify-content: center;
            margin-bottom: 44px;
           }
        }

        &-item {
            // flex-shrink: 0;
            &:nth-child(n+5) {
                display: none;
            }
            
            @include tablet {
                &:nth-child(n+4) {
                    display: none;
                }
            }

            @include mobile {
                &:nth-child(n+3){
                    display: none;
                }
            }

            @include mobile-m {
                &:nth-child(n+2) {
                    display: none;
                }
            }
        }
        
        &-button {
            width: 40px;
            aspect-ratio: 1;
            border-radius: 50%;
            background-color: #fff;
            color: #b7b4bb;
            vertical-align: baseline;
            position: absolute;
            top: 40%;
            right: -20px;

            display: flex;
            justify-content: center;
            align-items: center;

            border: 2px solid rgba(131, 131, 131, 0.25);

            &-icon {
                width: 10px !important;
            }

            & .svg-wrapper {
                width: 10px;
            }

            &--inactive {
                opacity: 75%;
            }
        }
    }
}