.header {


    &__burger-button {
        background-color: transparent;
        
        & svg *[fill] {
            fill: revert-layer;
        }

        &:hover {
            opacity: 0.5;
        }
    }

    &__inner {
        display: flex;
        flex-direction: row;
        height: 90px;
        justify-content: space-between;
    }

    &__logo {
        & svg *[fill] {
            fill: var(--text-color);
        }
        @include tablet {
            width: 100px;
        }
    }

    &__menu {
        display: inline-block;

        &-list {
            display: flex;
            align-items: center;
            column-gap: 34px;
            height: 100%;

            @include tablet {
                column-gap: 20px;
            }
        }

        &-link {
            width: 25px;
            aspect-ratio: 1;

            & svg {
                width: 24px;
            }

            @include tablet {
                width: 20px;
            }
        }

        &-item {
            font-weight: bold;
            
        }

        &--short-dist {
            column-gap: 20px;

            @include tablet {
                column-gap: 12px;
            }
        }
    }

    
}