.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;


    

    &__body {
        width: 50%;
    }

    &__title {
        margin-bottom: 20px;
        width: 90%;
    }

    &__description {
        margin-bottom: 35px;
        width: 80%;
        @include fluid-text(16, 22);
    }

    &__button {
        position: relative;
        margin-bottom: 60px;
       // padding-right: 55px !important;
    }

    &__members {
        display: grid;
        //grid-template-rows: 1fr 1fr;
        grid-template-columns: 120px 1fr;
        height: 53px;
        
        &-icon {
            grid-row-start: 1;
            grid-row-end: 3;
        }

        &-title {
            @include fluid-text(30, 32);
        }

        &-description {
            margin-top: -5px;
            @include fluid-text(16, 17);
        }
    }

    &__image {
        width: 50%;
    }

    &__partners {
        margin-inline: auto;
        margin-top: 220px;
        &-list {
            display: flex;
            column-gap: 64px;
        }
    }
}