.hero {
  &__main {
    display: flex;
    align-items: center;
    @include mobile {
        flex-direction: column;
    }
  }

  

  &__link {
    margin-bottom: 60px;

    & .svg-wrapper {
      width: 15px;
    }
    
    @include mobile {
      margin-bottom: 45px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 50%;

    @include mobile {
      width: 100%;
      align-items: center;
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 24px;
    width: 90%;

    @include mobile {
      width: 100%;
    }
  }

  &__description {
    margin-bottom: 36px;
    width: 80%;
    @include fluid-text(19, 22);

    @include mobile {
      width: 100%;
    }
  }

  &__members {
    display: inline-flex;
    column-gap: 15px;
    height: 53px;

    @include mobile {
      text-align: start;
      margin-bottom: 50px;
    }

    &-icon {
      grid-row-start: 1;
      grid-row-end: 3;
    }

    &-title {
      @include fluid-text(30, 32);
    }

    &-description {
      margin-top: -5px;
      @include fluid-text(16, 17);
    }
  }

  &__image {
    width: 50%;
    @include print {
      display: none;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__partners {
    margin-top: 120px;
    &-list {
      display: flex;
      column-gap: 30px;
      row-gap: 25px;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 995px;
      margin-inline: auto;
      
      @include tablet-s {
        justify-content: center;
      }
    }

    &-item {
      // padding-inline: 15px;
      
    }

    &-link {
      display: block;
      height: 100%;
      display: flex;
      align-items: center;
    }

    &-icon {
        display: inline-block;
        @include mobile {
            width: 132px;
        }
    }
  }
}
