.manual {

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 120px;

        list-style: none;
        counter-reset: counter-manual;
        
        @include mobile {
            row-gap: 80px;
        }
    }

    &__item {
        --manualNumber: counter(counter-manual) ".";
        --flexDirection: row;

        counter-increment: counter-manual;

        &:nth-child(-n + 9) {
            --manualNumber: "0" counter(counter-manual) ".";
        }

        &:nth-child(2n) {
            --flexDirection: row-reverse;
        }
    }

    &__card {
        display: flex;
        flex-direction: var(--flexDirection);
        align-items: center;
        column-gap: 120px;
        
        @include tablet {
            column-gap: 60px;
        }

        @include mobile {
            flex-direction: column;
        }
        &-body {
            width: 50%;

            @include mobile  {
                width: 100%;
                text-align: center;
            }
        }

        &-image {
            width: 50%;

            @include mobile {
                width: 350px;
                margin-bottom: 40px;
            }
        }

        &-num p::before {
            content: var(--manualNumber);
            @include fluid-text(19, 21);
            background: linear-gradient(40deg, rgba(123,0,245,1) 0%, rgba(255,0,234,1) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 700;
        }

        &-num {
            margin-bottom: 10px;
        }

        &-title {
            display: inline-block;
            max-width: 8.5em;
            margin-bottom: 25px;

            @include fluid-text(40, 56);
        }

        &-description {
            margin-bottom: 30px;
            @include fluid-text(17, 19);


            & p{
                max-width: 60em;
                display: inline-block;
                @include mobile {
                    max-width: 30em;
                }
            }
        }

        &-link {
            display: inline-block;
            padding-bottom: 5px;
            border-bottom: rgba(131, 131, 131, 0.25) 2px solid;
            line-height: 1;
            font-weight: 700;

            &-icon {
                width: 15px;
            }
        }
    }

}