.pagination {
    text-align: center;

    &__list {
        display: inline-flex;
        margin-inline: auto;
        column-gap: 22px;
    }

    &__button {
        width: 10px;
        aspect-ratio: 1;

        background-color: var(--text-color);
        border-radius: 50%;

        &--inactive {
            opacity: 50%;
        }
    }
}