.report {
  text-align: center;

  &__list {
    display: flex;
    justify-content: center;

    @include mobile {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;
      align-content: center;
    }

    @include mobile-s {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    width: 25%;
    text-align: center;

    &:not(:first-child) {
        border-left: 1px white solid;
    }

    @include mobile {
      width: 100%;

      &:not(:first-child), &:not(:nth-child(2)) {
        padding-top: 30px;
      }

      &:nth-child(2n-1) {
        border-left: none;
      }
    }

    @include mobile-s {
        &:nth-child(n){
            border-left: 0;
        }
    }

   
  }

  &__card {
    display: block;
    width: 100%;
  }

  &__title {
    margin-bottom: 22px;

    @include mobile {
      margin-bottom: 18px;
    }
  }
}
