.roadmap {

    &__list {
        display: grid;
        grid-template-columns: auto auto auto;
        row-gap: 50px;

        justify-content: space-between;
        //align-content: space-between;

        height: auto;
        
        list-style: none;
        counter-reset: roadmap-counter;
    }

    &__item {
        counter-increment: roadmap-counter;
        --cardNumber: "PHASE" counter(roadmap-counter);
    }

    &__item:nth-child(-n + 9) {
        --cardNumber: "PHASE 0" counter(roadmap-counter);
    }
}