.section {
    padding-block: var(--section-padding-y);
    height: auto;

    @include tablet {
        padding-block: 70px;
    }

    &__title {
        text-align: center;
        margin-bottom: 80px;
    }

    &_bg {
        background: url('./../img/minting.png') center repeat;
        box-shadow: inset 0px 0px 35px 24px rgba(15,5,29,0.79);
        padding-inline: 0;
        margin-top: 42px; 
        border-bottom: 1px solid rgba(183, 180, 187, 0.25);
    }
}