.subscribe {
    padding: 60px 57px;
    border: 1px solid var(--border-color-gray);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    @include mobile {
        padding: 40px 30px;
    }

    &__form {
        width: 100%;
    }

    &__title {
        margin-bottom: 18px;
    }

    &__description {
        margin-bottom: 25px;
    }

    &__input {
        height: var(--input-height);
        background: var(--input-color);
        border-radius: var(--border-radius);
        border: none;
        padding: 14px 25px;
        @include fluid-text(16, 18);
        margin-top: 15px;
        
        @include mobile-s {
            max-width: 300px;
            width: 100%;
        }
        
        &::placeholder {
            color: var(--text-color);
        }
    }

    &__button {
        height: var(--button-height-narrow);
        padding: 0px 24px;
        height: var(--input-height);
        margin-left: 10px;
        margin-top: 15px;
    }
}