body {
    // @include fluid-text();
    font-size: 18px;
    color: var(--text-color);

    font-family: var(--font-family-base);
    font-weight: normal;

    background-color: var(--background-color);

    line-height: var(--line-height);
    
}

button {
  border: none;
}

p:where(:not([class])) {
  color: var(--text-color-alt);
  
  &:where(:not(:last-child):not([class])) {
    margin-bottom: 15px;
  }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: var(--line-height-small);
}

h1, .h1 {
  @include fluid-text(42, 72);
}
h2, .h2 {
  @include fluid-text(42, 64);
}
h3, .h3 {
  @include fluid-text(28, 56);
}

h4, .h4 {
  @include fluid-text(26, 28);
}

h5, .h5 {
  @include fluid-text(22, 24);
}

a,
button,
input,
textarea,
svg {
  transition-duration: var(--transition-duration); 
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    opacity: 0.5;
  }
}

g[data-vector-monochrome] *[fill]{
  fill: currentColor;
}

g[data-vector-monochrome] *[stroke] {
  stroke: currentColor;
}