body {
    @include fluid-text();

    font-family: var(--font-family-base);
    font-weight: normal;

    color: var(--text-color);
    background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

a,
button,
input,
textarea,
svg {
  transition-duration: var(--transition-duration); 
}

a {
  text-decoration: none;
  color: inherit;
}