:root {
    --text-color-gradient: linear-gradient(5deg, #2600fc 0%, #ff00ea 100%);


    --border-radius: 50px;


    --button-background: linear-gradient(25deg, #2600fc 0%, #ff00ea 100%);
    --button-height: 66px; 
    --button-height-narrow: 47px;

    --input-height: 47px;


    --font-family-base: 'Inter', sans-serif;

    --container-width: 1230px;
    --container-padding-x: 20px;

    --section-padding-y: 130px;

    --transition-duration: 0.2s;

    --line-height: 164%;
    --line-height-small: 110%;
    
 
}

:root[data-theme='dark'] {
    --text-color: #fff;
    --text-color-alt: #b7b4bb;

    --border-color-gray: rgba(255, 255, 255, 0.25);
    --report-separation-border: 1px white solid; 

    --input-color: rgba(246, 242, 242, 0.46);

    --background-color: #0f051d;
    
    --decoration-background-display: none; 

    --icon-invert-filter: none;
    
    --section-decoration-box-shadow-color: #0F051D;
}

:root[data-theme='light'] {
    --text-color: #000000;
    --text-color-alt: #7b7583;

    --background-color: #ffffff;

    --input-color: rgba(0, 0, 0, 0.05);

    --border-color-gray: rgba(131, 131, 131, 0.5);
    --report-separation-border: 1px #e5e5e5 solid;

    --decoration-background-display: inline-block;

    --icon-invert-filter: invert(1);
 
    --section-decoration-box-shadow-color: #ffffff;
}