@charset "UTF-8";
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 15px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  max-width: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  width: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

dialog {
  color: inherit;
  margin: 0;
  padding: 0;
  max-width: inherit;
  max-height: inherit;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --text-color: #fff;
  --text-color-gradient: linear-gradient(5deg, #2600fc 0%, #ff00ea 100%);
  --text-color-alt: #b7b4bb;
  --border-radius: 50px;
  --border-color-gray: rgba(255, 255, 255, 0.25);
  --button-background: linear-gradient(25deg, #2600fc 0%, #ff00ea 100%);
  --button-height: 66px;
  --button-height-narrow: 47px;
  --input-height: 47px;
  --background-color: #0f051d;
  --background-image: "./../img/hero/background.img";
  --font-family-base: "Inter", sans-serif;
  --container-width: 1230px;
  --container-padding-x: 20px;
  --section-padding-y: 130px;
  --transition-duration: 0.2s;
  --line-height: 164%;
  --line-height-small: 110%;
}

.container {
  max-width: calc(var(--container-width) + 2 * var(--container-padding-x));
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}
@media (max-width: 780px) {
  .container {
    padding-inline: 15px;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.svg-wrapper {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 780px) {
  .mobile-hidden {
    display: none !important;
  }
}

@media (min-width: 781px) {
  .mobile-visible {
    display: none !important;
  }
}

@media (max-width: 1080px) {
  .tablet-hidden {
    display: none !important;
  }
}

@media (min-width: 1081px) {
  .tablet-visible {
    display: none !important;
  }
}

@media (max-width: 920px) {
  .tablet-s-hidden {
    display: none !important;
  }
}

@media (min-width: 921px) {
  .tablet-s-visible {
    display: none !important;
  }
}

body {
  font-size: 18px;
  color: var(--text-color);
  font-family: var(--font-family-base);
  font-weight: normal;
  background-color: var(--background-color);
  line-height: var(--line-height);
}

button {
  border: none;
}

p {
  color: var(--text-color-alt);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: var(--line-height-small);
}

h1, .h1 {
  font-size: clamp(42px, 3.75vw, 72px);
}

h2, .h2 {
  font-size: clamp(42px, 3.3333333333vw, 64px);
}

h3, .h3 {
  font-size: clamp(28px, 2.9166666667vw, 56px);
}

h4, .h4 {
  font-size: clamp(26px, 1.4583333333vw, 28px);
}

h5, .h5 {
  font-size: clamp(22px, 1.25vw, 24px);
}

a,
button,
input,
textarea,
svg {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  opacity: 0.5;
}

svg {
  width: 100%;
  height: auto;
}

.header__burger-button {
  background-color: transparent;
  display: inline-flex;
  align-items: center;
}
.header__burger-button svg *[fill] {
  fill: revert-layer;
}
.header__burger-button:hover {
  opacity: 0.5;
}
.header__inner {
  display: flex;
  flex-direction: row;
  height: 90px;
  justify-content: space-between;
}
@media (max-width: 780px) {
  .header__inner {
    height: 80px;
  }
}
.header__list-burger-wrapper {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 1080px) {
  .header__logo {
    width: 120px;
  }
}
@media (max-width: 920px) {
  .header__logo {
    width: 115px;
  }
}
.header__menu {
  --headerMenuPaddingInline: 16px;
  display: inline-flex;
  align-items: center;
}
.header__menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
}
@media (max-width: 1080px) {
  .header__menu-list {
    --headerMenuPaddingInline: 12px;
    font-size: 17px;
  }
}
.header__menu-list--short-dist {
  --headerMenuPaddingInline: 10px;
}
@media (max-width: 1080px) {
  .header__menu-list--short-dist {
    --headerMenuPaddingInline: 8px;
  }
}
.header__menu-link {
  padding-inline: var(--headerMenuPaddingInline);
  display: inline-flex;
  align-items: center;
  height: 100%;
}
.header__menu-link .svg-wrapper {
  display: flex;
  width: 24px;
}
@media (max-width: 1080px) {
  .header__menu-link .svg-wrapper {
    width: 22px;
  }
}
@media (max-width: 920px) {
  .header__menu-link .svg-wrapper {
    width: 20px;
  }
}
.header__menu-item {
  font-weight: bold;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
}
.section {
  padding-block: var(--section-padding-y);
  height: auto;
}
@media (max-width: 1080px) {
  .section {
    padding-block: 70px;
  }
}
@media (max-width: 780px) {
  .section {
    padding-block: 120px;
  }
  .section_starting {
    padding-top: 60px;
  }
}
.section__title {
  text-align: center;
  margin-bottom: 80px;
}
@media (max-width: 780px) {
  .section__title {
    margin-bottom: 65px;
  }
}
.section_bg {
  background: url("./../img/minting.png") center repeat;
  box-shadow: inset 0px 0px 50px 50px #0F051D;
  padding-inline: 0;
  margin-top: 42px;
  border-bottom: 1px solid rgba(183, 180, 187, 0.25);
}

.hero__main {
  display: flex;
  align-items: center;
}
@media (max-width: 780px) {
  .hero__main {
    flex-direction: column;
  }
}
.hero__link {
  margin-bottom: 60px;
}
.hero__link .svg-wrapper {
  width: 15px;
}
@media (max-width: 780px) {
  .hero__link {
    margin-bottom: 45px;
  }
}
.hero__body {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50%;
}
@media (max-width: 780px) {
  .hero__body {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}
.hero__title {
  margin-bottom: 24px;
  width: 90%;
}
@media (max-width: 780px) {
  .hero__title {
    width: 100%;
  }
}
.hero__description {
  margin-bottom: 36px;
  width: 80%;
  font-size: clamp(19px, 1.1458333333vw, 22px);
}
@media (max-width: 780px) {
  .hero__description {
    width: 100%;
  }
}
.hero__members {
  display: inline-flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
  height: 53px;
}
@media (max-width: 780px) {
  .hero__members {
    text-align: start;
    margin-bottom: 50px;
  }
}
.hero__members-icon {
  grid-row-start: 1;
  grid-row-end: 3;
}
.hero__members-title {
  font-size: clamp(30px, 1.6666666667vw, 32px);
}
.hero__members-description {
  margin-top: -5px;
  font-size: clamp(16px, 0.8854166667vw, 17px);
}
.hero__image {
  width: 50%;
}
@media print {
  .hero__image {
    display: none;
  }
}
@media (max-width: 780px) {
  .hero__image {
    width: 100%;
  }
}
.hero__partners {
  margin-top: 120px;
}
.hero__partners-list {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 995px;
  margin-inline: auto;
}
.hero__partners-item-wrapper {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 780px) {
  .hero__partners-icon {
    width: 132px;
  }
}

.button {
  background-image: var(--button-background);
  border-radius: var(--border-radius);
  padding: 0 40px;
  height: 66px;
  font-weight: 700;
  font-size: clamp(16px, 0.8854166667vw, 17px);
  color: white;
  line-height: 2;
  display: inline-flex;
  align-items: center;
}
.button:hover {
  opacity: 0.5;
}
.button__arrow-icon {
  width: 15px;
}

hr {
  border: none;
  margin: 0;
}
hr::after {
  background: url("../img/hr.svg") no-repeat top center;
  display: block;
  height: 20px;
  content: "";
}

.collection {
  text-align: center;
}
.collection__slider {
  margin-bottom: 67px;
  position: relative;
  margin-inline: 20px;
}
@media (max-width: 1080px) {
  .collection__slider {
    margin-bottom: 40px;
  }
}
.collection__slider-main {
  position: relative;
}
@media (max-width: 1080px) {
  .collection__slider-main {
    display: inline-block;
  }
}
.collection__slider-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 1080px) {
  .collection__slider-list {
    justify-content: center;
    margin-bottom: 44px;
  }
}
@media (max-width: 1080px) {
  .collection__slider-item:nth-child(n+4) {
    display: none;
  }
}
@media (max-width: 780px) {
  .collection__slider-item:nth-child(n+3) {
    display: none;
  }
}
@media (max-width: 600px) {
  .collection__slider-item:nth-child(n+2) {
    display: none;
  }
}
.collection__slider-button {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #fff;
  color: #b7b4bb;
  vertical-align: baseline;
  position: absolute;
  top: 40%;
  right: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.collection__slider-button-icon {
  width: 10px !important;
}
.collection__slider-button .svg-wrapper {
  width: 10px;
}
.collection__slider-button--inactive {
  opacity: 75%;
}

.collection-card__image {
  margin-bottom: 22px;
}
.collection-card__title {
  margin-bottom: 3px;
  text-align: center;
}
.collection-card__description {
  text-align: center;
  font-size: clamp(17px, 0.8333333333vw, 16px);
}

.pagination {
  text-align: center;
}
.pagination__list {
  display: inline-flex;
  margin-inline: auto;
  -moz-column-gap: 22px;
       column-gap: 22px;
}
.pagination__button {
  width: 10px;
  aspect-ratio: 1;
  background-color: #fff;
  border-radius: 50%;
}
.pagination__button--inactive {
  opacity: 50%;
}

.choose-us__list {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
  min-height: 426px;
}
@media (max-width: 1160px) {
  .choose-us__list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 30px;
  }
}
@media (max-width: 600px) {
  .choose-us__list {
    grid-template-columns: auto;
  }
}
.choose-us__item {
  height: 377px;
}
.choose-us__item:nth-child(4n+1), .choose-us__item:nth-child(4n) {
  height: 350px;
}
@media (max-width: 1160px) {
  .choose-us__item:nth-child(4n+1), .choose-us__item:nth-child(4n) {
    height: 323px;
  }
}
.choose-us__item:nth-child(2n) {
  margin-top: 48px;
}
@media (max-width: 1160px) {
  .choose-us__item:nth-child(2n) {
    margin-top: 0;
  }
}
@media (max-width: 1160px) {
  .choose-us__item {
    height: 323px;
  }
}
.choose-us__card {
  border: 1px solid rgba(232, 232, 232, 0.25);
  border-radius: 24px;
  padding: 48px 33px;
  height: 100%;
  max-width: 277px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1160px) {
  .choose-us__card {
    max-width: 360px;
    justify-content: center;
    row-gap: 30px;
  }
}
.choose-us__card-description {
  font-size: clamp(16px, 0.8854166667vw, 17px);
  line-height: 158%;
}

.report {
  text-align: center;
}
.report__list {
  display: flex;
  justify-content: center;
}
@media (max-width: 780px) {
  .report__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
@media (max-width: 480px) {
  .report__list {
    grid-template-columns: 1fr;
  }
}
.report__item {
  width: 25%;
  text-align: center;
}
.report__item:not(:first-child) {
  border-left: 1px white solid;
}
@media (max-width: 780px) {
  .report__item {
    width: 100%;
  }
  .report__item:not(:first-child), .report__item:not(:nth-child(2)) {
    padding-top: 30px;
  }
  .report__item:nth-child(2n-1) {
    border-left: none;
  }
}
@media (max-width: 480px) {
  .report__item:nth-child(n) {
    border-left: 0;
  }
}
.report__card {
  display: block;
  width: 100%;
}
.report__title {
  margin-bottom: 22px;
}
@media (max-width: 780px) {
  .report__title {
    margin-bottom: 18px;
  }
}

.manual__list {
  display: flex;
  flex-direction: column;
  row-gap: 120px;
  list-style: none;
  counter-reset: counter-manual;
}
@media (max-width: 780px) {
  .manual__list {
    row-gap: 80px;
  }
}
.manual__item {
  --manualNumber: counter(counter-manual) ".";
  --flexDirection: row;
  counter-increment: counter-manual;
}
.manual__item:nth-child(-n+9) {
  --manualNumber: "0" counter(counter-manual) ".";
}
.manual__item:nth-child(2n) {
  --flexDirection: row-reverse;
}
.manual__card {
  display: flex;
  flex-direction: var(--flexDirection);
  align-items: center;
  -moz-column-gap: 120px;
       column-gap: 120px;
}
@media (max-width: 1080px) {
  .manual__card {
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
}
@media (max-width: 780px) {
  .manual__card {
    flex-direction: column;
  }
}
.manual__card-body {
  width: 50%;
}
@media (max-width: 780px) {
  .manual__card-body {
    width: 100%;
    text-align: center;
  }
}
.manual__card-image {
  width: 50%;
}
@media (max-width: 780px) {
  .manual__card-image {
    width: 350px;
    margin-bottom: 40px;
  }
}
.manual__card-num p::before {
  content: var(--manualNumber);
  font-size: clamp(19px, 1.09375vw, 21px);
  background: linear-gradient(40deg, rgb(123, 0, 245) 0%, rgb(255, 0, 234) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
.manual__card-num {
  margin-bottom: 10px;
}
.manual__card-title {
  display: inline-block;
  max-width: 8.5em;
  margin-bottom: 25px;
  font-size: clamp(40px, 2.9166666667vw, 56px);
}
.manual__card-description {
  margin-bottom: 30px;
  font-size: clamp(17px, 0.9895833333vw, 19px);
}
.manual__card-description p {
  max-width: 60em;
  display: inline-block;
}
@media (max-width: 780px) {
  .manual__card-description p {
    max-width: 30em;
  }
}
.manual__card-link {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: rgba(131, 131, 131, 0.25) 2px solid;
  line-height: 1;
  font-weight: 700;
}
.manual__card-link-icon {
  width: 15px;
}

.subscribe {
  padding: 60px 57px;
  border: 1px solid rgba(243, 243, 243, 0.25);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (max-width: 780px) {
  .subscribe {
    padding: 40px 30px;
  }
}
.subscribe__form {
  width: 100%;
}
.subscribe__title {
  margin-bottom: 18px;
}
.subscribe__description {
  margin-bottom: 25px;
}
.subscribe__input {
  height: var(--input-height);
  background: rgba(246, 242, 242, 0.19);
  border-radius: var(--border-radius);
  border: none;
  padding: 14px 25px;
  font-size: clamp(16px, 0.9375vw, 18px);
  margin-top: 15px;
}
@media (max-width: 480px) {
  .subscribe__input {
    max-width: 300px;
    width: 100%;
  }
}
.subscribe__button {
  height: var(--button-height-narrow);
  padding: 0px 24px;
  height: var(--input-height);
  margin-left: 10px;
  margin-top: 15px;
}

.title span {
  background: linear-gradient(40deg, rgb(123, 0, 245) 0%, rgb(255, 0, 234) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.roadmap {
  width: 100%;
}
.roadmap__list {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 50px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  justify-content: space-between;
  height: auto;
  list-style: none;
  counter-reset: roadmap-counter;
}
@media (max-width: 1080px) {
  .roadmap__list {
    grid-template-columns: auto auto;
    justify-content: center;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
@media (max-width: 780px) {
  .roadmap__list {
    grid-template-columns: auto;
  }
}
.roadmap__item {
  counter-increment: roadmap-counter;
  --cardNumber: "PHASE" counter(roadmap-counter);
}
.roadmap__item:nth-child(-n+9) {
  --cardNumber: "PHASE 0" counter(roadmap-counter);
}

.roadmap-card {
  max-width: 368px;
  height: 100%;
  border: 1px solid rgba(253, 253, 253, 0.34);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  padding: 40px 32px;
}
@media (max-width: 1080px) {
  .roadmap-card {
    padding: 32px 26px;
  }
}
.roadmap-card__number {
  margin-bottom: 28px;
}
.roadmap-card__number p::before {
  content: var(--cardNumber);
  font-weight: 700;
  background: linear-gradient(40deg, rgb(123, 0, 245) 0%, rgb(255, 0, 234) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.roadmap-card__title {
  margin-bottom: 25px;
}
.roadmap-card__description::after {
  content: "";
  display: block;
  height: 1px;
  width: 80px;
  border-top: 1px solid rgba(183, 180, 187, 0.25);
  margin-block: 35px;
}
.roadmap-card__list {
  list-style: inside;
  list-style-image: url("../img/roadmap/vector.svg");
}
.roadmap-card__item {
  vertical-align: bottom;
}
.roadmap-card__item::marker {
  width: 16px;
  height: 16px;
}

.artists__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 780px) {
  .artists__list {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    row-gap: 30px;
  }
}
.artists__item:nth-child(2n-1) {
  margin-top: 30px;
}
@media (max-width: 780px) {
  .artists__item:nth-child(2n-1) {
    margin-top: 0;
  }
}

.artist__image {
  margin-bottom: 24px;
}
.artist__title {
  font-size: clamp(22px, 1.25vw, 24px);
  text-align: center;
  margin-bottom: 14px;
}
.artist__description {
  text-align: center;
  margin-bottom: 28px;
}
@media (max-width: 780px) {
  .artist__description {
    margin-bottom: 20px;
  }
}
.artist__socials-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.questions__list {
  max-width: 688px;
  padding: 50px;
  margin-inline: auto;
  border-radius: 24px;
  border: 1px solid rgba(183, 180, 187, 0.25);
}
.questions__item {
  padding-block: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.questions__item:last-child {
  padding-bottom: 0;
}
.questions__item:first-child {
  padding-top: 0;
}
.questions__item:not(:first-child) {
  border-top: 1px solid rgba(183, 180, 187, 0.25);
}
.questions__accordeon {
  position: relative;
  --indicatorDisplay: none;
  padding-right: 22px;
}
.questions__accordeon-indicator::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url("./../img/questions/Vector.svg");
  width: 18px;
  height: 15px;
  right: 0;
  bottom: 10px;
}
.questions__accordeon-indicator::before {
  content: "";
  position: absolute;
  display: var(--indicatorDisplay);
  background-image: url("./../img/questions/Vector (1).svg");
  width: 14px;
  height: 8px;
  right: 0;
  top: 10px;
}
.questions__accordeon[open] {
  --indicatorDisplay: block;
}
.questions__accordeon-title {
  font-size: clamp(18px, 1.25vw, 24px);
}
.questions__accordeon-summary {
  list-style: none;
}
.questions__accordeon-body {
  padding-top: 20px;
}

.minting {
  opacity: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-inline: 15px;
}
.minting__title {
  text-align: center;
  margin-bottom: 40px;
}
.minting__description {
  margin-bottom: 50px;
}

.footer__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 54px;
  -moz-column-gap: 100px;
       column-gap: 100px;
}
@media (max-width: 780px) {
  .footer__main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 50px;
  }
}
@media (max-width: 480px) {
  .footer__main {
    text-align: start;
    align-items: start;
  }
}
.footer__contacts {
  max-width: 416px;
}
.footer__contacts-description {
  font-size: 19px;
  margin-bottom: 20px;
}
.footer__contacts-list {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
@media (max-width: 780px) {
  .footer__contacts-list {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .footer__contacts-list {
    justify-content: start;
  }
}
.footer__menu {
  max-width: 205px;
  min-width: 175px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.footer__menu-title {
  margin-bottom: 12px;
}
.footer__menu-wrapper {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 50px;
       column-gap: 50px;
  justify-content: space-between;
}
@media (max-width: 780px) {
  .footer__menu-wrapper {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .footer__menu-wrapper {
    justify-content: start;
    flex-direction: column;
    row-gap: 50px;
  }
}
.footer__menu-list {
  color: var(--text-color-alt);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.footer__menu-item {
  display: block;
}
.footer__privacy-policy {
  margin-right: 20px;
}
@media (max-width: 480px) {
  .footer__privacy-policy {
    margin-right: 15px;
  }
}
.footer__extra {
  color: var(--text-color-alt);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding-block: 35px;
  text-align: center;
}
@media (max-width: 780px) {
  .footer__extra {
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }
}
@media (max-width: 480px) {
  .footer__extra {
    row-gap: 7px;
  }
}
.footer__logo {
  margin-bottom: 32px;
  display: inline-block;
}
.footer__terms-of-use-icon {
  width: 15px;
}

.theme-button {
  color: white;
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  position: absolute;
  right: 20px;
  top: 85vh;
}
.theme-button:hover {
  background-color: #fff;
  color: black;
}
.theme-button:active {
  --text-color: black !important;
}

.decoration-background {
  width: 100%;
  overflow-x: hidden;
  height: 56.25vw;
  z-index: -1;
  position: absolute;
}
.decoration-background__image {
  display: none;
  height: 56.25vw;
  min-width: 1920px;
}

.mobile-overlay {
  border-image-source: linear-gradient(90deg, #2600fc 0%, #ff00ea 100%);
  border-width: 4px 0 0;
  border-image-slice: 1;
  background-color: black;
  position: fixed;
  right: 0;
  left: unset;
  height: 100%;
  max-width: 300px;
}
.mobile-overlay__header {
  padding: 30px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color-gray);
}
.mobile-overlay__logo-wrapper {
  display: inline-flex;
  justify-content: center;
}
.mobile-overlay__menu-item {
  padding: 10px 230px 10px 25px;
  border-bottom: 1px solid var(--border-color-gray);
}
@media (hover: hover) {
  .mobile-overlay__menu-item:hover {
    opacity: 0.5;
  }
}
@media (hover: none) {
  .mobile-overlay__menu-item:active {
    opacity: 0.5;
  }
}
.mobile-overlay__soc1als-list {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 12px;
       column-gap: 12px;
  justify-content: center;
  padding-block: 30px;
  padding-inline: 26px;
}
.mobile-overlay__soc1als-item {
  width: 40px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: center;
  border: 1px solid #efefef;
  border-radius: 3px;
}
@media (hover: hover) {
  .mobile-overlay__soc1als-item:hover {
    opacity: 0.5;
  }
}
@media (hover: none) {
  .mobile-overlay__soc1als-item:active {
    opacity: 0.5;
  }
}
.mobile-overlay__soc1als-link {
  display: inline-flex;
}
.mobile-overlay__close-button {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  position: relative;
  padding: 0;
  background-color: transparent;
}
.mobile-overlay__close-button::before {
  rotate: -45deg;
}
.mobile-overlay__close-button::after {
  rotate: 45deg;
}
.mobile-overlay__close-button::before, .mobile-overlay__close-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 5%;
  width: 90%;
  height: 1px;
  background-color: #741FF5;
  border-radius: 5px;
}
.mobile-overlay__close-button-wrapper {
  width: 10%;
}
@media (hover: hover) {
  .mobile-overlay__close-button:hover {
    opacity: 0.5;
  }
}
@media (hover: none) {
  .mobile-overlay__close-button:active {
    opacity: 0.5;
  }
}/*# sourceMappingURL=styles.css.map */